<h3>{{thisItem.name}}</h3>

<img class="item-img" src="{{thisItem.image}}" />

<div class="row">
	<h5>{{thisItem.description}}</h5>
	<h5>Price: {{thisItem.price}}</h5>
	<h5>Quantity: {{thisItem.quantity}}</h5>
	<h5>Category: {{thisCategory.name}}</h5>
</div>

<div>
    <button type="button" class="buttonOneItem" onclick="goPrev()">Back to Inventory</button>
	<script>
		function goPrev()
		{
			window.history.back();
		}
	</script>
</div>