<h3>{{item.name}}</h3>

<img class="item-img" src="{{item.image}}" />

<div class="row">
	<h5>{{item.description}}</h5>
	<h5>Price: {{item.price}}</h5>
	<h5>Quantity: {{item.quantity}}</h5>
	<h5>Category: {{thisCategory.name}}</h5>
</div>

<div>
    <button type="button" class="button" onclick="goPrev()">Back to Inventory</button>
	<script>
		function goPrev()
		{
			window.history.back();
		}
	</script>
</div>