<h1>{{thisWarehouse.name}}</h1>

<h2>There are {{localItems.length}} items in stock.</h2>

{{#each localItems}}  
    <div class="card col-md-4">
        <h3>{{name}}</h3>
        <img class="item-img" src="{{image}}" />
            <div>
                <a href="/item/{{id}}">See Toy</a>
                
            </div>
    </div>
{{/each}}

<div>
    <a href="/warehouses" class="back-to-warehouses">Back to All Warehouses</a>
</div>


    
</div>