<h2>There are {{allWarehouses.length}} warehouses.</h2>

{{#each allWarehouses}}  
    <div class="card col-md-4">
        <h3>{{name}}</h3>
        <h4>Location: {{location}}</h4>
        <img class="item-img" src="{{image}}" />
        <div>
                <a href="/warehouses/{{id}}">See Warehouse</a>
            </div>
    </div>
{{/each}}